@import 'variables';
@import 'mixins';

body {
  background-color: $blue-background-color;
  display: grid;
  font-family: $default-body-font-family, sans-serif;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
};

h1 {
  align-self: center;
  color: $primary-white-color;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
};

h2 {
  color: $recipe-type-color;
  margin: 10px 0px 10px 0px;
};

h3 {
  color: $recipe-font-color;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
  transition: .8s ease;
};

h4 {
  color: $recipe-font-color;
  background-color: $bright-border-color;
  border-radius: 3px;
  margin: 10px 0px 0px 0px;
  padding: 1px 4px 1px 4px;
  width: max-content;
};


/* HEADER */
header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  padding: 0% 0%;
  width: 100%;

  span {
    color: $bright-border-color;
    font-weight: 400;
  }

  .header-apple-icon {
    height: 40px;
    margin-left: 5px;
    width: 35px;
  }
};

#search {
  border-radius: 15px 15px 15px 15px;
  border: 3px outset $bright-border-color;
  box-shadow: 0px 0px 7px 0px $box-shadow-background-color;
  display: flex;
  flex-direction: row;
  font-family: $default-body-font-family, sans-serif;
  justify-content: center;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;

  #search-input {
    background-color: #b6dcca;
    background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
    border-radius: 10px 0px 0px 10px;
    border: none;
    box-shadow: inset -3px -1px 20px 1px #5c7894;
    color: $blue-background-color;
    font-family: $default-body-font-family, sans-serif;
    font-size: 42px;
    height: 100%;
    outline: none;
    padding: 0% 2% 0% 0%;
    text-align: right;
    transition: .8s ease;
    width: 100%;
  }

  #search-input:hover {
    box-shadow: inset 0px 0px 0px 0px $primary-white-color;
    transition: .8s ease;
  }

  #search-input:focus {
    box-shadow: inset 0px 0px 0px 0px $primary-white-color;
  }

  #search-input::placeholder {
    color: $blue-background-color;
    font-size: 20px;
    text-align: right;
    text-shadow: none;
  }

  #search-input:focus::placeholder {
    font-size: 0px;
    transition: .8s ease;
  }

  .search-label {
    display: none;
  }

  .search-btn {
    border-left: 3px outset $bright-border-color;
    border-radius: 0px 15px 15px 0px;
    padding: 1%;
  }
};

.nav-btn {
  align-items: center;
  background: $blue-background-color no-repeat;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0px;
  font-weight: 700;
  justify-content: center;
  margin: 0%;
  outline: none;
  overflow: hidden;
  text-align: center;
  transition: .4s ease;
  width: 15%;
};

.nav-btn:hover {
  color: $bright-border-color;
  font-size: 14px;
  text-shadow: 0px 2px 4px black;
  transition: .4s ease;
}

.nav-btn img {
  max-height: 40px;
  max-width: 40px;
  padding: 2px 0px;
}

.saved-ingredients-btn {
  border-left: 3px solid $bright-border-color;
}

.ing-pan-btn {
  margin: 1% 0%;
  padding: 1px 6px 5px 0px;
}


/* BANNER IMAGE*/
.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  height: 150px;
  overflow: hidden;
  width: 100%;

};

.my-recipes-banner,
.welcome-msg {
  text-align: center;
  width: 95%;
}

.my-recipes-banner h1,
.welcome-msg h1 {
  color: $primary-white-color;
  width: 100%;
}

.my-recipes-banner {
  display: none;
  margin-top: 25px;
}

.welcome-msg {
  margin-top: 50px;
}


/* FILTER SIDEBAR */
aside {
  background-color: $primary-white-color;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
  .wrap {
    background-color: $primary-white-color;
    height: 100vh;
    padding: 10px;
    position: relative;
    width: 200px;

    ul {
      list-style-type: none;
      text-align: left;
      padding-left: 35px;
    }

    li {
      margin: 2px;
    }
  }
};



/* RECIPE CARD SECTION */
main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
};

.recipe-card {
  background-color: $primary-white-color;
  border: 2px solid $bright-border-color;
  border-radius: 7px;
  cursor: pointer;
  height: 270px;
  margin: 20px;
  padding: 15px;
  width: 250px;

  .recipe-card:hover .card-photo-preview {
    opacity: 50%;
    transition: .8s ease;
  }

  .recipe-card:hover .text {
    font-size: 20px;
    opacity: 100%;
    transition: .5s ease;
    width: 100%;
  }

  .recipe-card:hover h3 {
    text-shadow: 0px 0px 4px $bright-border-color;
    transition: .8s ease;
  }
};

.card-apple-icon {
  cursor: pointer;
  float: right;
  height: 50px;
  padding-bottom: 10px;
  width: 45px;
}

.card-photo-preview {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  cursor: pointer;
  height: 130px;
  transition: .8s ease;
  width: 100%;
}

.card-photo-container {
  align-items: center;
  display: flex;
  height: 130px;
  justify-content: center;
  position: relative;
}

.text {
  background: $recipe-font-color;
  color: $primary-white-color;
  font-weight: 700;
  font-size: 0px;
  opacity: 0%;
  padding: 0%;
  position: absolute;
  text-align: center;
  width: 0%;
  transition: .5s ease;
}


/* BUTTONS */
.show-pantry-recipes-btn,
.show-all-btn,
.filter-btn {
@include buttons
}

.show-pantry-recipes-btn {
  margin-top: 10px;
}

.show-all-btn {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}

.filter-btn:hover {
  background-color: $recipe-type-color;
}


/* PANTRY LIST */
.drop-menu {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  height: 600px;
  margin-left: 81%;
  margin-top: 92px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  width: 250px;
  z-index: 3;

};

.drop-menu h2 {
  color: $recipe-font-color;
  margin: 0px;
}

.pantry-list {
  color: #000000;
  padding-left: 15px;
  text-align: left;
}


/* RECIPE INSTRUCTIONS */
.recipe-instructions {
  background: $primary-white-color;
  border: 3px solid $bright-border-color;
  border-radius: 10px;
  box-shadow: 1px 1px 115px black;
  display: none;
  height: 70%;
  margin: 0;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 15%;
  top: 15%;
  width: 70%;
  z-index: 1000;

  #exit-recipe-btn {
    background: $primary-white-color;
    border: 2px double $recipe-font-color;
    border-radius: 5px;
    color: $recipe-font-color;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin: -4% -3% 2% -1%;
    position: fixed;
    transition: .3s ease;
  }

  #exit-recipe-btn:hover {
    background: $bright-border-color;
    transition: .3s ease;
  }

  #recipe-title {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px 7px 0px 0px;
    color: $primary-white-color;
    font-size: 30px;
    margin: 0;
    padding: 5%;
    text-align: center;
    text-shadow: 0px 0px 6px black;
  }

  .recipe-instructions h4 {
    background: $primary-white-color;
    color: $recipe-font-color;
  }

  .recipe-instructions p {
    margin-left: 2%;
  }

  .recipe-instructions ol {
    margin-right: 2%;
  }
};

#overlay {
  filter:alpha(opacity=50);
  background-color: $blue-background-color;
  height:100%;
  left:0;
  opacity:0.5;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

#post-to-pantry {
  align-items: center;
  background: $primary-white-color;
  border: 3px solid lightgreen;
  border-radius: 10px;
  box-shadow: 1px 1px 115px black;
  display: none;
  flex-direction: column;
  height: 60%;
  margin: 0;
  overflow-x: scroll;
  padding: 5%;
  position: fixed;
  top: 15%;
  width: 30%;
  z-index: 1000;
}

.search-ingredients-btn {
  background-color:  $blue-background-color;
  border: none;
  border-radius: 0px 7px 7px 0px;
  box-shadow: none;
  padding: 1%;
  width: 20%;
}

#save-changes-btn {
  justify-self: flex-end;
}

#search-ingredients-input {
  border-radius: 7px 0px 0px 7px;
}

#search-ingredients {
  border-radius: 10px;
  border: 3px outset $bright-border-color;
  box-shadow: 0px 0px 7px 0px $box-shadow-background-color;
  display: flex;
  font-family: $default-body-font-family, sans-serif;
  justify-content: center;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;
  height: 10%
}

#modify-pantry-title {
  font-size: 2em;
}

#search-ingredients-icon {
  width: 60%
}

#searched-ingredient-results {
  width: 100%
}

#save-changes-btn {
  height: 7%;
  background-color: $box-shadow-background-color;
  color: $primary-white-color;
  font-family: $default-body-font-family, sans-serif;
  border-radius: 5px;
  border: none;
  margin-top: 5%;
  width: 25%;
}

.searched-ingredient {
  display: flex;
  margin-top: 5%
}

#add-subtract {
  display: flex;
  border: solid 2px $box-shadow-background-color;
  border-radius: 7px;
  margin: 0;
  height: 10%;
  width: 20%
}

#minus,
#plus {
  border: 0;
  color: $primary-white-color;
  background-color: $box-shadow-background-color;
  width: 30%;
  border-radius: 3px 0px 0px 3px
}

#ingred-name {
  margin: 0 0 0 4%
}

.amount {
  border-color: $box-shadow-background-color;
  border-radius: 0;
  margin: 0;
  text-align: center;
  width: 40%;
  border: 0;
}

.hide {
	display: none;
}
