$blue-background-color: #5B7894;
$default-body-font-family: 'Quicksand';
$recipe-type-color: #84C8A4;
$recipe-font-color: #359567;
$bright-border-color: #C4EB67;
$primary-white-color: white;
$box-shadow-background-color: #475d74;
